<div class="home-page">
  <div class="row">
    <div class="col-sm-4 d-none d-sm-block photo-content">
      <%= image_tag "yellow-background.jpg", :class => "home-photo-background img-responsive" %>
      <%= image_tag "me.jpg", :class => "home-photo img-responsive" %>
    </div>
    
    <div class="col-12 col-sm">
      
      <div class="modified-card">
        <h1 class="resume-title">Tien Nguyen</h1>
        <h3>Thesis Worker</h3>
        <p>Hardworking, careful, responsible and committed are the top keywords I would use to describe myself. With a get-it-done attitude, I believe to better myself everyday at what I am doing and deliver results on-time. I learn as I go and I am always open to pick up new technology.</p>
      </div>

      <div class="modified-card">
        <h3>See me on social media!</h3>
        
      </div>

    </div>
  </div>
</div>



