// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
  width: 100%;
}
textarea{
  width: 100%;
  height: 150px;
  &.textarea__long{
    height: 250px;
  }
}
.contact-content {
  justify-content: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.button {
  background-color: #ffcc00;
  color: white;
}