.modified-navbar {
  overflow: hidden;
  background-color: #ffb3e9;
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
}

.navbar-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-item:hover:not(.active) {
  background-color: #ff80d5;
  text-decoration: none;
}

.active {
  background-color: #ffcc00;
  text-decoration: none;
}
