<div class="home-page">
  <div class="row">
    
    <div class="d-block col-sm">
      <div class="modified-card">
        <h3>Experience</h3>
        <h5>Software devloper intern</h5>
        <p>Develop the company web application with Ruby on Rails. Key responsibilities are: 
        <br>• Add new features, mostly on the back-end.
        <br>• Make tests (unit tests and system test).
        <br>• Tech-lead of the intern development team.</p>
      </div>
    </div>
    
  </div>
</div>