<div class="navbar navbar-expand-lg modified-navbar">
  <%= link_to 'Home', root_path, class: "navbar-item #{"active" if current_page?(root_path)}" %>
  <%= link_to 'About', about_path, class: "navbar-item #{"active" if current_page?(about_path)}" %>
  <%= link_to 'Contact', contact_path, class: "navbar-item navbar-item-last #{"active" if current_page?(contact_path)}" %>
</div>
